main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  margin-bottom: -71px;
}

img {
  width: 332px;
  border-radius: 50%;
  padding: 113px 0;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.intro1 {
  font-size: 64px;
  font-family: "Quattrocento Sans";
}

.role {
  font-size: 32px;
  text-align: center;
}

.buttons {
  display: flex;
}

.button {
  padding: 19px;
  margin: 24px;
  margin-left: 0;
  font-size: 21px;
  font-family: "Alegreya";
  background-color: #5f81cb;
  color: white;
  font-weight: 600;
  border-radius: 14px;
  border: 1px solid #5f81cb;
  cursor: pointer;
  text-decoration: none;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.button:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
  transform: translateY(-7px);
}

@media only screen and (max-width: 870px) {
  main {
    flex-direction: column;
    gap: 0px;
    padding-top: 105px;
    margin-bottom: 0;
  }

  img {
    order: 2;
    width: 332px;
    border-radius: 50%;
    padding: 24px 0;
  }
}

@media only screen and (max-width:443px) {
  .title {
    font-size: 30px !important;
  }

  .intro1 {
    font-size: 48px;
    margin: auto;
  }

  .role {
    font-size: 25px;
  }

  .button {
    margin: auto;
    font-size: 19px;
    padding: 14px;
  }

  img {
    order: 2;
    width: 297px;
    border-radius: 50%;
    padding: 24px 0;
  }
}

.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 23px;
}


.project {
  width: 40%;
  min-width: 17rem;
  height: 17rem;
  text-decoration: none;
  background-image: url("../source/clothappcover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background 0.3s ease;
  display: flex;
  /* center text easily */
  align-items: center;
  justify-content: center;
}

.project:hover {
  cursor: pointer;
  background-color: #5f81cbcc;
  background-blend-mode: multiply;

  .project-title {
    display: inline-block;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    z-index: 1;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
  }

}

.project-title {
  color: white;
  font-size: 22px;
  margin: 46px;
  transition: all 0.3s ease;
}

.title {
  font-size: 50px;
  font-family: "Quattrocento Sans";
  font-weight: 500;
}