*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    padding-top: 202px;
    margin: auto;
    width: 69%;
}
.sections{
    display: flex;
    justify-content: space-between;
}
.resume-head{
    font-size: 64px;
    font-family: 'Quattrocento Sans';
}
.section-heading{
    font-size: 41px;
    font-family: 'Gruppo';
    font-weight: bolder;
}
.section-content{
    width: 45%;
    font-size: 25px;
    font-family: 'Mate';
    text-align: justify;
}
#section{
    padding: 84px 0;
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.line{
    height: 130px;
    width: 2px;
    border: 1px solid black;
}
.skills{
    display: flex;
    gap: 40px;
    font-size: 20px;
}
.certificate{
    align-self: center;
    text-decoration: none;
    padding: 11px;
    margin: 24px;
    font-size: 21px;
    background-color: #5f81cb;
    color: white;
    border-radius: 14px;
    border: 1px solid #5f81cb;
    cursor: pointer;
    transition-property:all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}
.certificate:hover{
    color: black;
    background-color: white;;
  }

  @media only screen and (max-width: 870px) {
    .sections{
        flex-direction: column;
    gap: 37px;
    }
    .section-content{
        width: 100%;
        text-align: start;
    }
  }